# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Quartus Local Files
*.map
*.elf
*.objdump
*.qws

#Nios Local Files
software/dtb_bsp/obj/
software/dtb_expert/obj/
